
body{
    padding: 0;
    margin: 1vw;
}

header{
    background-color: rgb(158, 16, 89);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;

}

.title{
    margin-left: 50px ;
    color: white;
    font-size: 30px;
}

nav{
    margin-top: 20px;
    background-color: rgb(94, 12, 55);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#left-side{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    width: 25%;  
    float: left;
  
}
#right-side{
    margin-top: 15px;
    width: 20%;
    float: right;
}

#aside1{
    background-color: rgb(156, 13, 87);
    height: 100px;
    padding: 20px;

}
#aside2{
    margin-top: 15px;
    background-color: rgb(156, 13, 87);
    height: 150px;
    padding: 20px;
}

#aside3{
    background-color: rgb(156, 13, 87);
    padding: 20px;
    height: 250px;
}

.center{
  margin-top: 15px;
  width: 55%;
  margin-left: 25%;

}

.content{

    background-color: rgb(156, 13, 87);
    margin: auto;
    width: 90%;
    height: auto;
    padding: 20px;
}



.section{
width: 80%;
background-color: rgb(192, 116, 155);
margin: auto;
height: 100px;
margin-top: 15px;
padding: 20px;
}

footer{
    background-color: rgb(94, 12, 55);
    margin-top: 15px;
    height: 50px;
    padding: 10px;
}
span{
    text-transform: uppercase;
    font-size: 25px;
    color:white;
    font-weight: 700;
}



